body {
    background-color: rgb(66, 83, 88);
    padding: 20px;    
    font-family: Arial, Helvetica, sans-serif;
}
#last-score-button {
    background-color: rgb(172, 196, 196);
    float: left;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px;
}
#quiz-area {
    height: 500px;
    width: 500px;
    color:black;
    background-color: lightblue;
    font-size: large;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 40px;
    box-shadow: 15px 15px 25px black;
}
#timer {
    height: 30px;
    text-align: right;
}
#quiz-question {
    background-color: lightcoral;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
}
.quiz-answer {
    font-size: medium;
    background-color: coral;
    font-size: 24px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    box-shadow: 5px 5px 5px black;
}
.quiz-answer-correct {
    box-shadow: 5px 5px 5px rgb(9, 255, 0);
    color: rgb(9, 255, 0);
}
.quiz-answer-wrong {
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.quiz-answer-highscore {
    box-shadow: 5px 5px 5px rgb(255, 0, 221);
    color: white;
    background-color: red;
}
#user-name-button {
    visibility: hidden;
    float: left;
    bottom: 20px;
    font-size: 24px;
    background-color: lightcoral;
    
    font-weight: bold;
}
#user-name-field {
    visibility: hidden;    
    float: bottom;
}